<div id="orgInorgDiv">
    <h4>Organic find</h4>
    <br/>
    <div class="input-field col s6">
        <input id="ministryTxt" type="text" ng-model="USlayer['gencatnum']"><label for="ministryTxt">Ministry for Cultural Assets and Activities</label>
    </div>
    <div class="input-field col s6">
        <input id="archaeologistTxt" type="text" ng-model="USlayer['gencatnum']"><label for="archaeologistTxt">Archaeologist</label>
    </div>
    <div class="input-field col s6">
        <input id="localityTxt" type="text" ng-model="USlayer['gencatnum']"><label for="localityTxt">Locality</label>
    </div>
    <div class="input-field col s6">
        <input id="formTxt" type="text" ng-model="USlayer['gencatnum']"><label for="formTxt">Form</label>
    </div>
    <div class="input-field col s6">
        <input id="initialsTxt" type="text" ng-model="USlayer['gencatnum']"><label for="initialsTxt">Initials</label>
    </div>

</div>