<div id="usrDiv">
    <h4>Structures</h4>
    <div class="input-field col s6">
        <input id="ministryTxt" type="text" ng-model="USlayer['gencatnum']"><label for="ministryTxt">Mrelationship between coating and architectural structure</label>
    </div>
    <div class="input-field col s6">
        <input id="archaeologistTxt" type="text" ng-model="USlayer['gencatnum']"><label for="archaeologistTxt">Dating elements</label>
    </div>
    <div class="input-field col s6">
        <input id="localityTxt" type="text" ng-model="USlayer['gencatnum']"><label for="localityTxt">Stylistic phase</label>
    </div>
    <div class="input-field col s6">
        <input id="formTxt" type="text" ng-model="USlayer['gencatnum']"><label for="formTxt">Period</label>
    </div>
    <div class="input-field col s6">
        <input id="initialsTxt" type="text" ng-model="USlayer['gencatnum']"><label for="initialsTxt">Stratigraphic phase</label>
    </div>

</div>