<div id="siteDiv" style="display:none">
    <div class="content">
        <form>
            <h4> General information </h4>
            <br/><br/>
            <button onclick="getLocation()">Get location</button><br/><br/>
            <div class="input-field col s6">
                <input id="txtSiteCode" type="text" ng-model="site['code']"><label for="txtSiteCode">Site code</label>
            </div>
            <div class="input-field col s6">
                <input id="txtYear" type="text" ng-model="site['year']"><label for="txtYear">Year</label>
            </div>
            <div class="input-field col s6">
                <input id="txtArchaeologist" type="text" ng-model="site['archaeologist']"><label for="txtArchaeologist">Archaeologist</label>
            </div>
            <div class="input-field col s6">
                <input id="txtSciManagement" type="text" ng-model="site['scimanage']"><label for="txtSciManagement">Science Management</label>
            </div>
            <div class="input-field col s6">
                <input id="txtCatNumber" type="text" ng-model="site[catalog]"><label for="txtCatnumber">Catalogue Number</label>
            </div>
                <input id="txtSoprArcheo" type="text" placeholder="Soprintendenza Archeologica per il Veneto" ng-model="site['sopr']" disabled>
            <br /><br/>

            <h3> Geographic Information </h3>
            <div class="input-field col s6">
                <input id="txtPlace" type="text" ng-model="site['place']"><label for="txtPlace">Place</label>
            </div>
            <div class="input-field col s6">
                <input id="txtGeoArea" type="text" ng-model="site['area']"><label for="txtGeoArea">Geographical Area</label>
            </div>
            <!--These two are not in the database-->
            <div class="input-field col s6">
                <input id="txtSettlement" type="text"><label for="txtSettlement">Settlement</label>
            </div>
            <div class="input-field col s6">
                <input id="txtSite" type="text" placeholder="Site">
            </div>

            <h5>Intervention Type</h5>
            <input type = "checkbox" id="chkExcavation" value="Excavation"> <label for="chkExcavation">Excavation</label><br />
            <input type = "checkbox" id="chkSamples" value="Samples"> <label for="chkSamples">Samples</label><br />
            <input type = "checkbox" id="chkTomb" value="Tomb"> <label for="chkTomb">Tomb</label><br />
            <input type = "checkbox" id="chkAnomalies" value="Anomalies"> <label for="chkAnomalies">Anomalies</label><br />
            <input type = "checkbox" id="chkCoreSampling" value="Core Sampling"> <label for="chkCoreSampling">Core Sampling</label><br /><br />
            <br/><br/>
            <h4> Specific Information </h4>
            <h5> Site information </h5>
            <form action="#">
            <input type="radio" id ="urb1" name="urban" value="Urban">  <label for="urb1">Urban</label>
            <input type="radio" id="urb2" name="urban" value="Non Urban"> <label for="urb2">Non-Urban</label>
            <br/> <br/>
            <input type="radio" id="wet1" name="wetness" value="Wet"> <label for="wet1">Wet</label>
            <input type="radio" id="wet2" name="wetness" value="Dry"> <label for="wet2">Dry</label>
            <input type="radio" id="wet3" name="wetness" value="Underwater"> <label for="wet3">Underwater</label>
                <br/> <br/>
            <h5> Object Finds </h5>
            <input type="radio" id="obj1" name="objFinds" value="Yes"> <label for="obj1">Yes</label>
            <input type="radio" id="obj2" name="objFinds" value="No"> <label for="obj2">No</label>
                <br/> <br/>
            <h5> Analysis </h5>
            <input type="radio" id="anal1" name="analysis" value="Yes"> <label for="anal1">Yes</label>
            <input type="radio" id="anal2" name="analysis" value="No"> <label for="anal2">No</label>
                <br/> <br/>
            <h5> Draw Maps </h5>
            <input type="radio" id="map1" name="drawMaps" value="Yes"> <label for="map1">Yes</label>
            <input type="radio" id="map2" name="drawMaps" value="No"> <label for="map2">No</label>
                <br/> <br/>
            <h5> Vertical Draw Section </h5>
            <input type="radio" id="draw1" name="drawSection" value="Yes"> <label for="draw1">Yes</label>
            <input type="radio" id="draw2" name="drawSection" value="No"> <label for="draw2">No</label>
                <br/> <br/>
            <h5> Photos/Film </h5>
            <input type="radio" id="pho1" name="photosFilm" value="Yes"> <label for="pho1">Yes</label>
            <input type="radio" id="pho2" name="photosFilm" value="No"> <label for="pho2">No</label>
                <br/> <br/>
            <h5> Digital Photos </h5>
            <input type="radio" id="digi1" name="digitalPhotos" value="Yes"> <label for="digi1">Yes</label>
            <input type="radio" id="digi2" name="digitalPhotos" value="No"> <label for="digi2">No</label>
                <br/> <br/>
            <h5>Finds</h5>
                <input type = "checkbox" id="chkFinds" value="Structure"> <label for="chkFinds">Structure</label><br />
                <input type = "checkbox" id="chkLayers" value="Layers"> <label for="chkLayers">Layers</label><br />
                <input type = "checkbox" id="chkObject" value="Object"> <label for="chkObject">Object</label><br /><br />
                <br/> <br/><br/>
            </form>

            <h3> Dating </h3>
            <h5> Age or Epoch </h5>
            <div class="input-field col s12">
            <select>
                <option value="" disabled selected>Choose...</option>
                <option value="Paleolithic">Paleolithic</option>
                <option value="Mesolithic">Mesolithic</option>
                <option value="Neolithic">Neolithic</option>
                <option value="Copper Age">Copper Age</option>
                <option value="Bronze Age">Bronze Age</option>
                <option value="Iron Age">Iron Age</option>
                <option value="Roman">Roman</option>
                <option value="Late Antiquity">Late Antiquity</option>
                <option value="Early Medival">Early Medival</option>
                <option value="Late Medival">Late Medival</option>
                <option value="Modern">Modern</option>
                <option value="Contemporary">Contemporary</option>
            </select>
            <h4> Century </h4>
            From:
            <select>
                <option value="12 BC">12 BC</option>
                <option value="11 BC">11 BC</option>
                <option value="10 BC">10 BC</option>
                <option value="9 BC">9 BC</option>
                <option value="8 BC">8 BC</option>
                <option value="7 BC">7 BC</option>
                <option value="6 BC">6 BC</option>
                <option value="5 BC">5 BC</option>
                <option value="4 BC">4 BC</option>
                <option value="3 BC">3 BC</option>
                <option value="2 BC">2 BC</option>
                <option value="1 BC">1 BC</option>
                <option value="1 AD">1 AD</option>
                <option value="2 AD">2 AD</option>
                <option value="3 AD">3 AD</option>
                <option value="4 AD">4 AD</option>
                <option value="5 AD">5 AD</option>
                <option value="6 AD">6 AD</option>
                <option value="7 AD">7 AD</option>
                <option value="8 AD">8 AD</option>
                <option value="9 AD">9 AD</option>
                <option value="10 AD">10 AD</option>
                <option value="11 AD">11 AD</option>
                <option value="12 AD">12 AD</option>
                <option value="13 AD">13 AD</option>
                <option value="14 AD">14 AD</option>
                <option value="15 AD">15 AD</option>
                <option value="16 AD">16 AD</option>
                <option value="17 AD">17 AD</option>
                <option value="18 AD">18 AD</option>
                <option value="19 AD">19 AD</option>
                <option value="20 AD">20 AD</option>
            </select>
            To:
            <select>
                <option value="12 BC">12 BC</option>
                <option value="11 BC">11 BC</option>
                <option value="10 BC">10 BC</option>
                <option value="9 BC">9 BC</option>
                <option value="8 BC">8 BC</option>
                <option value="7 BC">7 BC</option>
                <option value="6 BC">6 BC</option>
                <option value="5 BC">5 BC</option>
                <option value="4 BC">4 BC</option>
                <option value="3 BC">3 BC</option>
                <option value="2 BC">2 BC</option>
                <option value="1 BC">1 BC</option>
                <option value="1 AD">1 AD</option>
                <option value="2 AD">2 AD</option>
                <option value="3 AD">3 AD</option>
                <option value="4 AD">4 AD</option>
                <option value="5 AD">5 AD</option>
                <option value="6 AD">6 AD</option>
                <option value="7 AD">7 AD</option>
                <option value="8 AD">8 AD</option>
                <option value="9 AD">9 AD</option>
                <option value="10 AD">10 AD</option>
                <option value="11 AD">11 AD</option>
                <option value="12 AD">12 AD</option>
                <option value="13 AD">13 AD</option>
                <option value="14 AD">14 AD</option>
                <option value="15 AD">15 AD</option>
                <option value="16 AD">16 AD</option>
                <option value="17 AD">17 AD</option>
                <option value="18 AD">18 AD</option>
                <option value="19 AD">19 AD</option>
                <option value="20 AD">20 AD</option>
            </select>
            </div>
            <br />
            <button type="button" id="nextBtn" onclick="toggle_visibility('siteDiv','layerMatrixDiv')">
                Next
            </button>
        </form>
    </div>
</div>


<div id="layerMatrixDiv" style = "display:none">
    <table id="layerTable" border="1" class="ui table">
        <tr>
            <th align ="center">US</th>
            <th align ="center"> Description </th>
            <th align ="center"> Edit info </th>
            <th align ="center"> Edit finds </th>
            <th align ="center"> Remove </th>
        </tr>
        <tr ng-repeat="el in bc.layers">
            <td align="center"><b>{{el.newLayer.us}}</b></td>
            <td align="center"> <input type="text" id="{{ el.newLayer.us  }}Desc" cols="40" rows="3"> </td>
            <td align="center"> <button class="tablebutton" id="{{ el.newLayer.us  }}EditLayer" onclick="toggle_visibility('layerMatrixDiv','layerInfoDiv')">Edit</button></td>
            <td align="center"> <button class="tablebutton" id="{{ el.newLayer.us  }}EditFinds" onclick="toggle_visibility('layerMatrixDiv','layerFindsDiv')">Edit</button></td>
            <td align="center"> <button class="tablebutton" id="{{ el.newLayer.us   }}RemoveLayer" ng-click = "bc.removeLayer(el.newLayer.us)">Remove</button></td>
        </tr>
    </table>

    <button class = "tablebutton" ng-click="bc.addLayer()">Add</button>
</div>
<div id="layerFindsDiv" style = "display: none">
    <table id="findTable" border ="1" class = "ui table">
        <tr>
            <th> Type </th>
            <th> Description </th>
            <th> Edit </th>
        </tr>
        <tr ng-repeat="el in bc.finds">
            <td align="center"> {{ el.name }}</td>
            <td align="center"> {{ el.description  }}</td>
            <td align="center"> <button class="tablebutton" id="{{ el.key  }}EditLayer" onclick="toggle_visibility('layerFindsDiv','findFormDiv')">Edit</button></td>
        </tr>
    </table>
    <button ng-click="bc.addFind()" onclick="toggle_visibility('layerFindsDiv','chooseFindTypeDiv')">Add</button> <br/> <br/>
    <button onclick="toggle_visibility('layerFindsDiv','layerMatrixDiv')">Back</button>
</div>

<div id="layerInfoDiv" style="display:none" >
    <!--TODO Figure out radio buttons/checkboxes generating database input-->
    <!--TODO Figure out picture uploading-->
    <!--Site and layer fields are disabled since they are generated from a site and a layer-->
    <form>
        <h4>Layer Information</h4>
        <div class="input-field col s6">
            <input id="siteNoTxt" type="text" ng-model="USlayer['sitenumber']" >
            <label for="siteNoTxt">Site Number</label>
        </div>
        <div class="input-field col s6">
    <input id="layerNoTxt" type="text" ng-model="USlayer['usnumber']" ><label for="layerNoTxt">Layer Number</label>
        </div>
        <div class="input-field col s6">
    <input id="genCatalogNo" type="text" ng-model="USlayer['gencatnum']"><label for="genCatalogNo">Gen. Catalog Number</label>
        </div>
        <div class="input-field col s6">
    <input id="intCatalogNo" type="text" ng-model="USlayer['intcatnum']"><label for="intCatalogNo">International Catalog Number</label>
        </div>
        <div class="input-field col s6">
    <input id="localityTxt" type="text" ng-model="USlayer['locality']"><label for="localityTxt">Locality</label>
        </div>
    <input id="yearTxt" type="text" placeholder="Year" ng-model="USlayer['year']">
    <br/><br/>
    <input id="areaTxt" type="text" placeholder="Area" ng-model="USlayer['area']">
    <br/><br/>
    <input id="sectorTxt" type="text" placeholder="Sector" ng-model="USlayer['sector']">
    <br/><br/>
    <input id="environmentTxt" type="text" placeholder="Environment" ng-model="USlayer['environment']">
    <br/><br/>
    <input id="quadrantTxt" type="text" placeholder="Quadrant" ng-model="USlayer['quadrant']">
    <br/><br/>
    <input id="sharesTxt" type="text" placeholder="Shares" ng-model="USlayer['shares']">
    <br/><br/>
    <h4> Type: </h4>
    <input type="radio" name="typeNat" value="Natural"> Yes
    <br/>
    <input type="radio" name="typeNat" value="Artificial"> No
    <br/>
    <input id="plantsTxt" type="text" placeholder="Plants" ng-model="USlayer[plants']">
    <br/>
    <h4>Photos/Slides</h4>
    <input type = "checkbox" id="chkPhotos" value="Structure"> Structure<br />
    <input type = "checkbox" id="chkSlides" value="Layers"> Layers<br /><br />
    <!--Upload photos and replace "N.Photos" with it?-->
    <input id="nPhotosTxt" type="text" placeholder="N.Photos" ng-model="USlayer['nphotos']">
    <br/><br/>
    <input id="tabMaterialTxt" type="text" placeholder="Tab Material" ng-model="USlayer['tabmaterial']">
    <br/><br/>
    <input id="definitionTxt" type="text" placeholder="Definition" ng-model="USlayer['definition']">
    <br/><br/>
    <input id="critTxt" type="text" placeholder="Distinctive Criteria" ng-model="USlayer['descriptcriter']">
    <br/><br/>
    <input id="methodTxt" type="text" placeholder="Method of Formation" ng-model="USlayer['methodform']">
    <br/><br/>
    <input id="geoTxt" type="text" placeholder="Geologic Components" ng-model="USlayer['geocomp']">
    <br/><br/>
    <input id="organicTxt" type="text" placeholder="Organic components" ng-model="USlayer['orgcomp']">
    <br/><br/>
    <input id="artificialTxt" type="text" placeholder="Artificial Components" ng-model="USlayer['articomp']">
    <br/><br/>
    <input id="consistencyTxt" type="text" placeholder="Consistency" ng-model="USlayer['consistency']">
    <br/><br/>
    <h4>Color</h4>
    <input type = "checkbox" id="chkRed" value="Red"> Red<br />
    <input type = "checkbox" id="chkGrey" value="Grey"> Grey<br />
    <input type = "checkbox" id="chkGreen" value="Green"> Green<br />
    <input type = "checkbox" id="chkYellow" value="Yellow"> Yellow<br />
    <input type = "checkbox" id="chkBlack" value="Black"> Black<br />
    <input type = "checkbox" id="chkBrown" value="Brown"> Brown <br />
    <input type = "checkbox" id="chkWhite" value="White"> White <br />
    <input type = "checkbox" id="chkOther" value="Other"> Other:
    <input id="otherTxt" type="text"><br /><br/>
    <input id="measuresTxt" type="text" placeholder="Measures" ng-model="USlayer['measures']">
    <br/><br/>
    <input id="stateTxt" type="text" placeholder="State of Conservation" ng-model="USlayer['conservationstate']">
    <br/><br/>
    <h4>Description:</h4>
    <!--TODO implement ng-model in textarea-->
    <textarea id="descriptionTxt" cols="80" rows="5" ng-model="USlayer['description']"> </textarea>
    <h4>Observations:</h4>
    <textarea id="observationsTxt" cols="40" rows="3" ng-model="USlayer['observations']"> </textarea>
    <h4>Interpretation:</h4>
    <textarea id="interpretationTxt" cols="40" rows="3" ng-model="USlayer['interpretation']"> </textarea><br/>
    <input id="datingelemTxt" type="text" placeholder="Dating Elements" ng-model="USlayer['datingelt']">
    <br/><br/>
    <h4> Age or Epoch </h4>
    <select>
        <option value="Paleolithic">Paleolithic</option>
        <option value="Mesolithic">Mesolithic</option>
        <option value="Neolithic">Neolithic</option>
        <option value="Copper Age">Copper Age</option>
        <option value="Bronze Age">Bronze Age</option>
        <option value="Iron Age">Iron Age</option>
        <option value="Roman">Roman</option>
        <option value="Late Antiquity">Late Antiquity</option>
        <option value="Early Medival">Early Medival</option>
        <option value="Late Medival">Late Medival</option>
        <option value="Modern">Modern</option>
        <option value="Contemporary">Contemporary</option>
    </select>
    <br /><br/>
    <input id="quantFindTxt" type="text" placeholder="Quantitative Find Data" ng-model="USlayer['quantitativefinddata']">
    <br/><br/>
    <input id="samplesTxt" type="text" placeholder="Samples" ng-model="USlayer['samples']">
    <br/><br/>
    <input id="floatationTxt" type="text" placeholder="Floatation" ng-model="USlayer['float']">
    <br/><br/>
    <input id="sievingTxt" type="text" placeholder="Sieving" ng-model="USlayer['sieve']">
    <br/><br/>
    <input id="stratigReliabilityTxt" type="text" placeholder="Stratigraphic Reliability" ng-model="USlayer['stratigraphicrel']">
    <br/><br/>
    <input id="directorTxt" type="text" placeholder="Director" ng-model="USlayer['director']">
    <br/><br/>
    <input id="responsibleTxt" type="text" placeholder="Responsible" ng-model="USlayer['responsible']">
    <br/><br/>
    <h4>Layer relationships:</h4>
    <input id="equaltoTxt" type="text" placeholder="Equal to" ng-model="USlayer['equalto']">
    <br/><br/>
    <input id="restedOnByTxt" type="text" placeholder="Rested on by" ng-model="USlayer['restedonby']">
    <br/><br/>
    <input id="coveredByTxt" type="text" placeholder="Covered by" ng-model="USlayer['coveredby']">
    <br/><br/>
    <input id="cutByTxt" type="text" placeholder="Cut by" ng-model="USlayer['cutby']">
    <br/><br/>
    <input id="filledByTxt" type="text" placeholder="Filled by" ng-model="USlayer['filledby']">
    <br/><br/>
    <input id="boundToTxt" type="text" placeholder="Bound to" ng-model="USlayer['boundto']">
    <br/><br/>
    <input id="LeansOnTxt" type="text" placeholder="Leans on" ng-model="USlayer['leanson']">
    <br/><br/>
    <input id="coveringTxt" type="text" placeholder="Covering" ng-model="USlayer['covering']">
    <br/><br/>
    <input id="cuttingTxt" type="text" placeholder="Cutting" ng-model="USlayer['cutting']">
    <br/><br/>
    <input id="fillingTxt" type="text" placeholder="Filling" ng-model="USlayer['filling']">
    <br/><br/>
    <input id="inFrontOfTxt" type="text" placeholder="In front of" ng-model="USlayer['infrontof']">
    <br/><br/>
    <input id="behindTxt" type="text" placeholder="Behind" ng-model="USlayer['behind']">
    <br/><br/>
    </form>
</div>

<div id="chooseFindTypeDiv" style="display:none">
    <h2>Choose the type of find you would like to add:</h2>
    <input type="radio" name="findType" value="OrgInorg"> Organic/Inorganic find <br/>
    <input type="radio" name="findType" value="HandCrStone"> Handcrafted stone<br/>
    <input type="radio" name="findType" value="Skeleton"> Skeleton<br/>
    <input type="radio" name="findType" value="Tomb"> Tomb<br/>
    <input type="radio" name="findType" value="Struct"> Structure<br/>
    <input type="radio" name="findType" value="Pole"> Pole<br/>

    <button ng-click="bc.addFind()">Next</button> <br/> <br/>


</div>





<script src="/scripts/plugin/jquery-2.1.3.min.js"></script>
<script src="/scripts/plugin/semantic.min.js"></script>
<script src="/scripts/plugin/semantic.editableRecord.js"></script>

<!-- SCRIPTS -->
<script type="text/javascript" src="/scripts/general.js"></script>