<div id="loginModal" class="modal" style="display:block">
    <form class="modal-content animate">
        <div id="login_form" class="container" align="center">
            <h2> Login </h2>
            <label><b>E-mail</b></label><br/>
            <input id="email" type="text" class="modaltext" placeholder="John@example.com" name="uname" required><br/>

            <label><b>Password</b></label><br/>
            <input id="password" type="password" class="modalpassword" placeholder="Enter Password" name="psw" required><br/>
            <div id="logError" style="display:none">
            </div>
            <button type="submit" class="modalbutton" onclick="toggleSignIn()">Login</button><br/>
            <input type="checkbox" checked="checked"> Remember me
        </div>
    </form>
    <div id="loginErrorContainer" style="display: none" class="ui error message">
        <div class="header">Error:</div>
        <p id="loginError"></p>
    </div>
</div>